/* Settings for the tables */

table {
  position: relative;
  margin-top: 20px;
  border-collapse: collapse;
  width: inherit;
}

th, td {
  padding: .25rem;
}

tr:nth-child(even) {
  background-color: #e2eefa;
}

th {
  font: bold 120% Arial, sans-serif;
  background-color: #021d3a;
  height: 40px;
  text-align: center;
  color: #f7f9fb;
}

td {
  width: 15em;
  height: 2.5em;
  text-align: center;
  border: none;
}

/* RESPONSIVENESS */
@media only screen and (min-width: 0px) and (max-width: 592px) {
  table {
    border-collapse: collapse;
    width: 100%;
    font: normal normal 0.8em Arial, Sans-serif;
  }

  th {
    z-index: 1;
    font: normal bold 100% Arial, sans-serif;
    padding-right: 5px;
    background-color: #021d3a;
    height: 25px;
    text-align: center;
    color: #f7f9fb;
  }

  td {
    width: 1em;
    height: 2em;
    text-align: center;
    border: none;
  }
}
